<h1>Display your Pirate here</h1>
    <p>Pirate name: <%= @pirate.name %></p>
    <p>Pirate weight: <%= @pirate.weight %></p>
    <p>Pirate height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
    <p>Ship 1 name: <%= @s1.name %></p>
    <p>Ship 1 type: <%= @s1.type %></p>
    <p>Ship 1 booty: <%= @s1.booty %></p>

<h2>Display your second ship here</h2>
    <p>Ship 2 name: <%= @s2.name %></p>
    <p>Ship 2 type: <%= @s2.type %></p>
    <p>Ship 2 booty: <%= @s2.booty %></p>