<h1>~ Pirate ~</h1>

    <b>Pirate name: <%=@pirate.name%></b><br>
    <b>Pirate weight: <%=@pirate.weight%></b><br>
    <b>Pirate height: <%=@pirate.height%></b><br>

<h2>~ First ship ~</h2>

    <b>Ship name: <%=@ships[0].name%></b><br>
    <b>Ship type: <%=@ships[0].type%></b><br>
    <b>Ship booty: <%=@ships[0].booty%></b><br>

<h2>~ Second ship ~</h2>

    <b>Ship name: <%=@ships[1].name%></b><br>
    <b>Ship type: <%=@ships[1].type%></b><br>
    <b>Ship booty: <%=@ships[1].booty%></b><br>
