
<h1>Display all the pirates</h1>
<h2>Pirate name:<%= @pirate.name %></h2>
<h2>Pirate weight:<%= @pirate.weight %></h2>
<h2>Pirate height:<%= @pirate.height %></h2>

<h2>Display ship 1 </h2>
<h3><%= @ship1.name %></h3>
<h3><%= @ship1.type %></h3>
<h3><%= @ship1.booty %></h3>

<h2>Display ship 2 </h2>
<h3><%= @ship2.name %></h3>
<h3><%= @ship2.type %></h3>
<h3><%= @ship2.booty %></h3>

